<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<h1 align="center">Welcome to Chirpus Pizza!</h1><br />
<h2 align="center"> <u>Our Menu </u></h2><br />
<table  align="center" >
  <tbody>

  <tr>
  <td align="center" style="padding-left:15px; padding-right:15px;  font-weight:bold"><u>Item</u></td>
  <td align="center" style="padding-left: 15px; padding-right: 15px; font-weight: bold"><u>Category</u></td>
  <td align="center" style="padding-left: 15px; padding-right: 15px; font-weight: bold"><u>Price</u></td>
  </tr>
  <tr *ngFor="let currMenuItem of MenuItems" style="color: blue">
    <td align="center" style='padding-left: 15px; padding-right: 15px;'>{{ currMenuItem.ItemName }}</td>
    <td align="center" style='padding-left: 15px; padding-right: 15px;'>{{ currMenuItem.Category }}</td>
    <td align="center" style='padding-left: 15px; padding-right: 15px;'>{{ currMenuItem.Price | currency }}</td>
  </tr>

  </tbody>
</table>
